{% extends 'dashboard.html.twig' %}



{% block content %}

<h2 class="my-5 w-100 text-center fw-bold">使用者帳號管理</h2>
<div class="row mb-5">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-fixed text-center">
                    <thead>
                        <tr>
                            <th style="width:100px;">編號ID</th>
                            <th style="width:200px;">帳號</th>
                            <th style="width:350px;">密碼</th>
                            <th style="width:100px;">使用者代稱</th>
                            <th style="width:100px;">身分</th>
                            <th style="width:200px;">功能</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in user %}
                        <tr>
                            <td class="align-middle">{{item.no}}</td>
                            <td class="align-middle">{{item.acc}}</td>
                            <td class="align-middle">{{item.pwd}}</td>
                            <td class="align-middle">{{item.user_name}}</td>
                            <td class="align-middle">{{item.role}}</td>
                            <td class="align-middle">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="switch.php?mode=edit_user&id={{item.no}}&status=edit" class="btn btn-sm btn-warning">編輯</a>
                                <a href="switch.php?mode=edit_user&id={{item.no}}&status=reset" class="btn btn-sm btn-success">重置密碼</a>
                                <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{item.no}}">刪除</a>
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{# modal #}
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="get" action="switch.php">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">確認刪除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
        </div>
        <div class="modal-body">
            確定要刪除這筆資料嗎？
        </div>
        {# 將mode=deldata傳入url變數 #}
        <input type="hidden" name="mode" value="deluser">        
        {# 將id=選擇的id傳入，以js寫入 #}
        <input type="hidden" name="id" id="delete-id">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-danger">確定刪除</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
{# bs提供 Modal 彈出前觸發事件show.bs.modal，觸發元素relatedTarget#}
document.getElementById('confirmDeleteModal').addEventListener('show.bs.modal', function (e) {
  const button = e.relatedTarget;
  const id = button.getAttribute('data-id');
  document.getElementById('delete-id').value = id;
});
</script>

{% endblock %}
