{% extends 'dashboard.html.twig' %}

{% block content %}
<style>
input[readonly] {
  background-color:rgb(179, 179, 179);
  border:rgb(205, 205, 205), dashed;
  cursor: not-allowed;
}
</style>
<div class="row row-cols-md-1">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form method="post" action="switch.php?mode=savedata" enctype="multipart/form-data" class="d-flex flex-column gap-3">
                    <div>
                        <label>流水號</label>
                        <input type="text" class="form-control" name="pid" value="{{result.id}}" readonly>
                    </div>
                    <div>
                        <label>姓名</label>
                        <input type="text" class="form-control" name="pname" value="{{result.name}}">
                    </div>
                    <div>
                        <label>日期</label>
                        <input type="text" class="form-control" name="pdate" value="{{result.class_date}}">
                    </div>
                    <div>
                        <label>出席時數</label>
                        <input type="text" class="form-control" name="patt" value="{{result.attended_hours}}">
                    </div>
                    <div>
                        <label>早退時數</label>
                        <input type="text" class="form-control" name="pleave" value="{{result.leave_early_hours}}">
                    </div>
                    <div>
                        <label>缺席時數</label>
                        <input type="text" class="form-control" name="pabs" value="{{result.absent_hours}}">
                    </div>
                    <button type="submit" class="btn btn-success my-4 mx-auto w-50 fs-5" style="padding-top: 10px; padding-bottom:10px;">更新</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}