{% extends '/partial//backend/dashboard.html.twig' %}

{% block content %}
<div class='container'>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="switch.php?mode=savedata" enctype="multipart/form-data">
                    <div >
                        <label>流水號</label>
                        <input type="text" class="form-control" name="pid" value="{{result.id}}" readonly>
                    </div>
                    <div >
                        <label>姓名</label>
                        <input type="text" class="form-control" name="pname" value="{{result.name}}">
                    </div>
                     <div >
                        <label>日期</label>
                        <input type="text" class="form-control" name="pdate" value="{{result.class_date}}">
                    </div>
                     <div >
                        <label>出席時數</label>
                        <input type="text" class="form-control" name="patt" value="{{result.attended_hours}}">
                    </div>
                     <div >
                        <label>早退時數</label>
                        <input type="text" class="form-control" name="pleave" value="{{result.leave_early_hours}}">
                    </div>
                     <div >
                        <label>缺席時數</label>
                        <input type="text" class="form-control" name="pabs" value="{{result.absent_hours}}">
                    </div>
                     <button type="submit" class="btn btn-success">更新</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}