{% extends 'dashboard.html.twig' %}

{% block content %}
{% if role == 'admin' or role == 'adv-user' %}
<div class="row row-cols-1 row-cols-md-6 mt-3 d-flex justify-content-end">
    <a href="att_list.php" class="btn btn-success">查看其他</a>
</div>
{% endif %}
<div class="row row-cols-1 row-cols-md-1 mt-5 mb-3">
    <div class="col text-center">
        <div id="student_name" style="font-size: 2rem; font-weight: 600; padding-bottom: 30px; padding-left: 20px">學員姓名： {{chart.name}}</div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="row row-cols-1 row-cols-md-2" id="attendance-card">
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">總課程時數</div>
                    <div class="card-body" id="class_hours" style="font-size: 1.6rem">{{chart.class_hours_total}} hr</div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">總計算天數</div>
                    <div class="card-body" id="class_hours" style="font-size: 1.6rem">{{chart.rows}} 天</div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">實際上課時數</div>
                    <div class="card-body" id="attended_hours" style="font-size: 1.6rem">{{chart.attended_hours_total}} hr</div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">缺席時數</div>
                    <div class="card-body" id="absent_hours" style="font-size: 1.6rem">{{chart.absent_hours_total}} hr</div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">遲到時數</div>
                    <div class="card-body" id="late_hours" style="font-size: 1.6rem">{{chart.late_hours_total}} hr</div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">早退時數</div>
                    <div class="card-body" id="leave_early_hours" style="font-size: 1.6rem">{{chart.leave_early_hours_total}} hr</div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card text-center pt-1 border-info shadow">
                    <div class="card-title" style="font-size: 1.2rem; font-weight: 600">出勤比率</div>
                    <div class="card-body" id="attendance_rate" style="font-size: 1.6rem">{{chart.attendance_rate}} %</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-5 pb-4">
        <div class="card text-center pt-3 border-info shadow">
            <div class="card-body">
                <div class="card-title pb-4" style="font-size: 1.2rem; font-weight: 600">出席狀況</div>
                <canvas id="attendance"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <div class="card text-center pt-3 border-info shadow">
            <div class="card-body">
                <div class="card-title pb-4" style="font-size: 1.2rem; font-weight: 600">每日上課時數</div>
                <canvas id="attendance_hours" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center pt-3 border-info shadow">
            <div class="card-body">
                <div class="card-title pb-4" style="font-size: 1.2rem; font-weight: 600">每日在校時數</div>
                <canvas id="raw_hours" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const ctx1 = document.getElementById("attendance_hours");
    const ctx2 = document.getElementById("raw_hours");
    const ctx3 = document.getElementById("attendance");
    new Chart(ctx1, {
        type: "line",
        data: {
            labels: {{chart.class_date | json_encode | raw }},
            datasets: [
                {
                    label: "每日上課時數",
                    data: {{chart.attended_hours | json_encode | raw }},
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.6)",
                        "rgba(54, 162, 235, 0.6)",
                        "rgba(255, 206, 86, 0.6)",
                        "rgba(75, 192, 192, 0.6)",
                        "rgba(153, 102, 255, 0.6)",
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                    ],
                    borderWidth: 1, // 邊框寬度
                },
            ],
        },
        options: {
            plugins: {
                legend: {
                    display: false
                },
            },
            scales: {
                y: {
                    beginAtZero: true, // Y 軸從 0 開始
                },
            },
        },
    });

    new Chart(ctx2, {
        type: "bar",
        data: {
            labels: {{chart.class_date | json_encode | raw }},
            datasets: [
                {
                    label: "每日在校時數",
                    data: {{chart.raw_hours | json_encode | raw }},
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.6)",
                        "rgba(54, 162, 235, 0.6)",
                        "rgba(255, 206, 86, 0.6)",
                        "rgba(75, 192, 192, 0.6)",
                        "rgba(153, 102, 255, 0.6)",
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                    ],
                    borderWidth: 1, // 邊框寬度
                },
            ],
        },
        options: {
            plugins: {
                legend: {
                    display: false
                },
            },
            scales: {
                y: {
                    beginAtZero: true, // Y 軸從 0 開始
                },
            },
        },
        
    });
    new Chart(ctx3, {
        type: "pie",
        data: {
            labels: ["出席", "缺席"],
            datasets: [
                {
                    label: "出席狀況",
                    data: [{{chart.attendance_rate | json_encode}}, 100 - {{ chart.attendance_rate | json_encode }}],
                    backgroundColor: ["rgba(255, 99, 132, 0.6)", "rgba(54, 162, 235, 0.6)"],
                    borderColor: ["rgba(255, 99, 132, 1)", "rgba(54, 162, 235, 1)"],
                    borderWidth: 1, // 邊框寬度
                },
            ],
        },
        options: {
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return context.label + ': ' + context.parsed.toFixed(1) + '%';
                        }
                    }
                }
            }
        }
    });
});

    
</script>
{% endblock %}