<!DOCTYPE html>
<html lang="zh-Hant-tw">
    <head>
        <title>Attendance Dashboard</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />
            
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        <style>
            .table-fixed {
                table-layout: fixed;
                width: 100%;
            }
        </style>
    </head>

    <body>

        {# 導航選單 #}
        {% include "partial/nav.inc.twig" %}

        {# 主版型 #}
        <main class="container-fluid mt-4">
            <div class="row g-0">
                {# 功能清單 #}
                {% include "partial/backend/menu.html.twig" %}

                {# 主畫面區 #}
                <div class="col-md-10 bg-light">
                    <div class="col col-md-11 ms-5">
                        {% block content %}
                        <div class="row row-cols-md-1 mt-5 mb-3 text-center">
                            <h3 style="font-weight: 600; font-size: 2rem">產尖全端班學員出缺席統計</h3>
                        </div>
                        <div class="row row-cols-md-1 mt-5 mb-3">
                            <div class="col">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body d-flex">
                                        <div
                                            class="col text-center d-flex justify-content-between align-items-center me-5">
                                            <div class="fw-bold fs-5">總出席率</div>
                                            <div class="display-5 fw-bold text-success">{{chart.attend_rate}}%</div>
                                        </div>
                                        <div
                                            class="col text-center d-flex justify-content-between align-items-center me-5">
                                            <div class="fw-bold fs-5">總遲到率</div>
                                            <div class="display-5 fw-bold text-danger">{{chart.late_rate}}%</div>
                                        </div>
                                        <div class="col text-center d-flex justify-content-between align-items-center">
                                            <div class="fw-bold fs-5">總早退率</div>
                                            <div class="display-5 fw-bold text-warning">{{chart.early_rate}}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-md-2">
                            <div class="col my-2">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body text-center">
                                        <h3 class="fw-bold mb-4 mt-2 display-8">總課程時數</h3>
                                        <span class="text-info display-4"><strong>{{chart.class_hours}} hr</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-2">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body text-center">
                                        <h3 class="fw-bold mb-4 mt-2 display-8">總課程數</h3>
                                        <span class="text-success display-4"><strong>{{chart.class_num}} 堂</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-2">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body text-center">
                                        <h3 class="fw-bold mb-4 mt-2 display-8">總天數</h3>
                                        <span class="text-primary display-4"><strong>{{chart.days}} 天</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-2">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body text-center">
                                        <h3 class="fw-bold mb-4 mt-2 display-8">平均到校時數</h3>
                                        <span class="text-warning display-4"><strong>{{chart.raw_rate}} hr</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-md-1">
                            <div class="col my-2">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body">
                                        <h3 class="fw-bold fs-7 text-center mb-5 mt-4">各課程達成率</h3>
                                        <canvas id="class_complete" width="400" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </>
                </div>
            </div>
        </main>

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

        <script>
            const ctx = document.getElementById("class_complete");
            new Chart(ctx, {
                type: "bar",
                data: {
                    labels: {{chart.classList | json_encode | raw}},
                    datasets: [
                        {
                            label: "各課程平均達成率",
                            data: {{chart.cplmt | json_encode | raw}},
                            backgroundColor: [
                                "rgba(255, 99, 132, 0.6)",
                                "rgba(54, 162, 235, 0.6)",
                                "rgba(255, 206, 86, 0.6)",
                                "rgba(75, 192, 192, 0.6)",
                                "rgba(153, 102, 255, 0.6)",
                            ],
                            borderColor: [
                                "rgba(255, 99, 132, 0.6)",
                                "rgba(54, 162, 235, 0.6)",
                                "rgba(255, 206, 86, 0.6)",
                                "rgba(75, 192, 192, 0.6)",
                                "rgba(153, 102, 255, 0.6)",
                            ],
                            borderWidth: 1, 
                        },
                    ],
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        datalabels: {
                            anchor: 'end',
                            align: 'bottom',
                            formatter: function(value, context) {
                                // 顯示 label + 數值
                                return context.chart.data.labels[context.dataIndex] + '\n' + value.toFixed(2);
                            },
                            font: {
                                weight: 'bold'
                            },
                            textAlign: 'center'
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>